.buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.buttons-container button{
    margin:1px
}
.x{
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.history-button{
    text-align: left;
}